<head>

  <h1>Listing Products</h1>
</head>
<body>
<% name= current_user.present? ? current_user.login : "(Nie zalogowany)" %>
<div> Uzytkownik: <%= name %></div>




</thead>
</table>
</br>
<div>filtruj</div>
<div>sortuj</div>

<%= render 'layouts/grid' %>


</body>
<br>