<head>

  <h1>Produkty Obserwowane</h1>
</head>
<body>
<%=button_to "Chcę otrzymywać notyfikacje", webnotifications_path, :class=>"btn btn-primary", :method => :get%>



</thead>
</table>
</br>

<%= render 'layouts/grid' %>


</body>
<br>