<% @products.each do |product| %>
  <div class="card">
    <strong class="card-text"><%= product.name %></strong>
    <p class="card-text"><%= product.category %></p>
    <p class="card-text"><%= product.brand %></p>

    <img style="width: 250px; height: auto" src='<%=product.image%>'/>

  </div>

<% end %>