<head></head>
<body>
<%= button_to "Admin Panel", rails_admin_path,
              :class => "btn btn-danger", :method => :get %>
</br>
<%= button_to "Scrape", productshop_create_path,
              :class=>"btn btn-warning", :method => :get %>



</body>