<head>
  <link rel="manifest" href="/manifest.json" />
  <h4><% name= current_user.present? ? current_user.login : "(Nie zalogowany)" %>
    <div> Panel uzytkownika <%= name %></div></h4>
</head>
<body>
  <%=link_to "Scrape", productshop_create_path, class:"nav-link"%>
  <%= render 'layouts/carousel' %>
</body>
<br>